:root {
  --active-color: #2196f3;
  --brand-color1: #757575;
  --brand-color2: #ffffff;
  --brand-color3: #212121;
  --background-color: #2f303a;
  --logo-color: #000000;
  --brand-font: "Roboto", sans-serif;
}
body {
  font-family: var(--brand-font);
  color: var(--brand-color3);
  font-size: 14px;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
.logo {
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--active-color);
}
.header__logo {
  color: var(--logo-color);
}

.header__menu {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__contacts-item {
  color: var(--brand-color1);
}
.header__menu-item {
  color: var(--brand-color3);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--active-color);
}
.link {
  text-decoration: none;
}
button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background: #f5f4fa;
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
}
button:hover,
button:focus,
button:active {
  background-color: var(--active-color);
  color: var(--brand-color2);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-style: hidden;
}
.gallery__product {
  box-sizing: border-box;
  background-color: var(--brand-color2);
  border: 1px solid #eeeeee;
}
.product__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product__description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--brand-color1);
}
.footer__background {
  background-color: var(--background-color);
}
.footer__logo {
  color: var(--brand-color2);
}
.footer__adressess {
  line-height: 1.71;
}
.footer__address {
  color: rgba(255, 255, 255, 0.6);
}
.footer__place {
  color: var(--brand-color2);
}
.banner {
  background-color: var(--background-color);
}
.banner__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color2);
}
.banner__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.advantage__title {
  font-weight: 700;
  text-transform: uppercase;
}
.advantage__subtitle {
  line-height: 1.71;
  color: var(--brand-color1);
}
.section__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section__cards {
  background: #f5f4fa;
}
.card {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: var(--brand-color2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card__title {
  font-weight: 500;
}
.card__subtitle {
  color: var(--brand-color1);
}
